/*Global*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
body,
p,
h1,
h2,
h3,
ul,
li,
span,
figure,
figcaption {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: 0;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
button {
  background: 0;
  border: 0;
  padding: 0;
}
label {
  display: block;
  margin-bottom: 5px;
}
/*Typography*/
.font-1-ab {
  font:
    400 clamp(2.5rem, 7vw, 3rem)/1 "Chau Philomene One",
    sans-serif;
  letter-spacing: -1.5px;
}
.font-2-ab {
  font:
    400 clamp(0.9rem, 7vw, 1.125rem)/1 "Chau Philomene One",
    sans-serif;
}
.font-3-ab {
  font:
    400 clamp(2rem, 7vw, 2.2rem)/1 "Chau Philomene One",
    sans-serif;
}
.font-4-ab {
  font:
    400 clamp(2rem, 7vw, 2.5rem)/1 "Chau Philomene One",
    sans-serif;
}
.font-5-ab {
  font:
    400 clamp(1rem, 7vw, 1.125rem)/1 "Chau Philomene One",
    sans-serif;
}
.font-6-ab {
  font:
    400 clamp(1.725rem, 7vw, 2.125rem)/1 "Chau Philomene One",
    sans-serif;
}
.font-1-s {
  font:
    300 clamp(1.3rem, 5vw, 1.5rem)/1 "Belleza",
    sans-serif;
}

.font-1-c {
  font:
    700 clamp(2.5rem, 10vw, 6.5rem)/1 "Open Sans",
    sans-serif;
}
.font-2-c {
  font:
    300 clamp(0.5rem, 5vw, 1.6rem)/1 "Open Sans",
    sans-serif;
}
.font-3-c {
  font:
    500 clamp(0.7rem, 5vw, 1.4rem)/1 "Open Sans",
    sans-serif;
}
.font-4-c {
  font:
    300 clamp(0.7rem, 5vw, 1rem)/1.725 "Open Sans",
    sans-serif;
}
.font-5-c {
  font:
    700 clamp(0.7rem, 5vw, 1rem)/1 "Open Sans",
    sans-serif;
}
.font-6-c {
  font:
    400 clamp(0.7rem, 5vw, 1.125rem)/1 "Open Sans",
    sans-serif;
}
.font-7-c {
  font:
    700 clamp(0.7rem, 5vw, 1.125rem)/1.425 "Open Sans",
    sans-serif;
}
.font-8-c {
  font:
    400 clamp(0.9rem, 3vw, 1rem)/1.825 "Open Sans",
    sans-serif;
}
.font-9-c {
  font:
    700 clamp(0.9rem, 3vw, 1.125rem)/1.825 "Open Sans",
    sans-serif;
}
.font-10-c {
  font:
    700 clamp(0.8rem, 3vw, 1rem)/1.825 "Open Sans",
    sans-serif;
}
.font-11-c {
  font:
    700 clamp(1.5rem, 3vw, 2.5rem)/1 "Open Sans",
    sans-serif;
}
.font-12-c {
  font:
    600 clamp(1.3rem, 3vw, 1.9rem)/1 "Open Sans",
    sans-serif;
}
.font-13-c {
  font:
    500 clamp(0.9rem, 3vw, 1.125rem)/1 "Open Sans",
    sans-serif;
}
.font-14-c {
  font:
    700 clamp(0.9rem, 3vw, 1.125rem)/1 "Open Sans",
    sans-serif;
  letter-spacing: 1.125px;
}
/*Header*/
.header-bg {
  background: #c29369;
  padding: 35px 15px 35px 15px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1600px;
  gap: 35px;
}
.header h1 {
  display: flex;
  align-items: center;
}
.header h1::before {
  content: "";
  display: inline-block;
  background: url("../img/icons/coffe.png") no-repeat center;
  height: 50px;
  width: 50px;
  background-size: contain;
  padding-left: 20px;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(25px, 5vw, 100px);
}
.nav-list a {
  color: #000000;
}
.nav-list a:hover {
  color: #695353;
}
@media (max-width: 717px) {
  .header {
    justify-content: center;
  }
}
/*Home*/
.home-bg {
  background: url("../img/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
}
.home {
  max-width: 1600px;
  padding: clamp(35px, 5vw, 150px) 15px 35px 15px;
  margin: 0 auto;
}
.home h1 {
  color: #ffffff;
  margin-bottom: 25px;
}
.home p {
  max-width: 65ch;
  color: #d9d9d9;
  margin-bottom: 55px;
}
.home-btn {
  display: flex;
  gap: 20px;
}
.home-btn a:nth-child(1) {
  color: #000000;
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 30px;
}
.home-btn a:nth-child(1):hover {
  background: #d9d9d9;
}
.home-btn a:nth-child(2):hover {
  background: #7b521f;
}
.home-btn a:nth-child(2) {
  background: #a16925;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 30px;
}
@media (max-width: 717px) {
  .home {
    display: grid;
    text-align: center;
    justify-items: center;
  }
  .home-bg {
    height: auto;
  }
}

/*Menu*/
.menu-bg {
  background: #f3eee6;
}
.menu {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 70px 15px 70px 15px;
  align-items: center;
}
.menu-content h3 {
  display: flex;
  align-items: center;
  color: #c29369;
  margin-bottom: 7px;
}
.menu-content h3::before {
  content: "";
  display: inline-block;
  background: url("../img/icons/seed.png") no-repeat center;
  height: 25px;
  width: 30px;
  background-size: contain;
  margin-right: 7px;
}
.menu-content h2 {
  margin-bottom: 15px;
}
.menu-content p {
  max-width: 40ch;
  margin-bottom: 7px;
}
.menu-details {
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu-details span {
  display: block;
  color: #4d3227;
}
.menu-details a {
  display: flex;
  align-items: center;
  color: #ffffff;
  background: #4d3227;
  transition: 0.2s;
  padding: 10px 25px;
  border-radius: 50px;
}
.menu-details a:hover {
  background: #624438;
}
.menu-details a::before {
  content: "";
  display: inline-block;
  background: url("../img/icons/buy.png") no-repeat center;
  height: 15px;
  width: 15px;
  background-size: contain;
  margin-right: 7px;
}
.menu-content {
  margin-bottom: 50px;
}
.menu-items h2 {
  text-align: center;
  margin-bottom: 25px;
}

.menu-items-options {
  display: flex;

  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  gap: 50px;
}
.menu-items {
  position: relative;
}

.menu-item {
  flex: 0 0 180px;
}
.menu-items {
  min-width: 0;
}
.menu-item {
  cursor: pointer;
}

.menu-item h3 {
  display: flex;
  margin-top: 7px;
  margin-bottom: 7px;
  justify-content: space-between;
}
.menu-item h3::after {
  content: "↑";
  display: inline-block;
}
.menu-item p {
  color: #4d3227;
}
@media (max-width: 1523px) {
  .menu-items::after {
    content: "→";
    position: absolute;
    top: 40px;
    right: 10px;
    color: var(--co-6);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
  @keyframes seta {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(8px);
    }
  }
}
@media (max-width: 717px) {
  .menu {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .menu-content {
    justify-items: center;
    text-align: center;
  }
}

/*Gallery*/
.gallery-bg {
  background: #ddbda2;
}
.gallery-container {
  display: grid;
  padding: 50px 15px 50px 15px;
  max-width: 1600px;
  margin: 0 auto;
}
.gallery-container h2 {
  text-align: center;
  margin-bottom: 40px;
}
.carousel {
  display: flex;
  overflow: hidden;
}
.carousel:hover .gallery-items {
  animation-play-state: paused;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.gallery-items {
  display: flex;
  gap: 45px;
  animation: spin 14s infinite linear;
  padding-right: 45px;
}

.gallery-items li {
  flex: 0 0 clamp(350px, 60vw, 450px);
}

@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*Our*/
.our-bg {
  background: #f3eee6;
}
.our-content {
  padding: 80px 15px 160px 15px;
  max-width: 1600px;
  margin: 0 auto;
}
.our-content h2 {
  text-align: center;
  margin-bottom: 100px;
}
.our-items {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
.our-items li {
  flex: 1 1 180px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.our-items li::after {
  content: "";
  top: 20px;
  right: -50px;
  position: absolute;
  background: #a16925;
  height: 220px;
  width: 2px;
}
.our-items li:nth-child(4)::after {
  display: none;
}
.our-items li img {
  margin-bottom: 15px;
  margin: 0 auto;
  background: #a16925;
  border: solid 7px #000000;
  border-radius: 100px;
  max-width: 170px;
}
.our-items h3 {
  margin-bottom: 15px;
}
.our-items h3::after {
  content: "↑";
  margin-left: 15px;
  display: inline-block;
  transition: transform 0.5s;
}
.our-items li p {
  margin: 0 auto;
  max-width: 40ch;
}
@media (max-width: 1049px) {
  .our-items li:nth-child(3)::after {
    display: none;
  }
}
@media (max-width: 769px) {
  .our-items li:nth-child(2)::after {
    display: none;
  }
  .our-items li:nth-child(3)::after {
    display: block;
  }
}
@media (max-width: 517px) {
  .our-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: auto;
    gap: 50px;
    position: relative;
  }
  .our-items li::after {
    right: -25px;
  }
  .our-items::after {
    content: "→";
    position: absolute;
    top: 425px;
    right: 10px;
    color: var(--co-6);
    animation: seta 0.5s ease-in 0s infinite alternate;
  }
}

/*Contact*/
.contact-content {
  display: grid;
  grid-template-columns: 1fr auto 2fr;
  margin: 0 auto;
}

.contact-img {
  max-width: 350px;
}
.contact-item:nth-of-type(1) {
  padding: 55px 15px;
  background: #341712;
}
.contact-item:nth-of-type(2) {
  justify-items: center;
  padding: 55px 15px;
  background: #ddbda2;
}
.contact-item:nth-of-type(1) h2 {
  color: #c1875d;
  text-align: center;
  margin-bottom: 30px;
}
.contact-info {
  margin-left: 50px;
}
.contact-info p {
  margin-bottom: 20px;
}
.contact-info a:nth-of-type(1) {
  margin-bottom: 20px;
}
.contact-info h3 {
  color: #c1875d;
}
.contact-info a,
.contact-info p {
  color: #aa9382;
}
.contact-item:nth-of-type(2) h2 {
  margin-bottom: 30px;
  color: #4e2c1c;
}
.contact-item:nth-of-type(2) h3 {
  margin-top: 30px;
  margin-bottom: 25px;
  color: #4e2c1c;
}
.contact-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.contact-link img {
  max-width: 64px;
}
.contact-item:nth-of-type(2) p {
  color: #8b4e2e;
}
.contact-item:nth-of-type(2) p:nth-of-type(1) {
  color: #8b4e2e;
  margin-bottom: 15px;
}
@media (max-width: 899px) {
  .contact-content {
    grid-template-columns: 1fr;
  }
  .contact-img {
    display: none;
  }
}

/*Footer*/
.footer-bg {
  background: #f3eee6;
}
.footer-content {
  text-align: center;
  padding: clamp(35px, 6vw, 70px) 15px;
  color: #4d3227;
}

/*JavaScript Menu*/
.menu-js {
  display: none;
}
.menu-js.active {
  display: block;
  animation: quest 0.5s forwards;
}
.menu-item h3.active::after {
  content: "↰";
  display: inline-block;
}
@keyframes quest {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 716px) {
  @keyframes quest {
    from {
      opacity: 0;
      transform: translate3d(0, -30px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

/*JavaScript Tab*/
.listJs p {
  opacity: 0;
}
.listJs p.active {
  opacity: 1;
  animation: tab 0.5s forwards;
}
.listJs h3.active::after {
  content: "↓";
}

@keyframes tab {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
